
.card-item{
    border: 2px solid;
    border-radius: 30pt;
    margin: 20px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.card-img{
    margin: 10px 20px;
    width: 100%;
}
.card-img-container{
    width: 40%;
    max-width: 200px;
    padding: 10px 10px;
}

.card-body{
    margin: 5px 20px;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-around;;
}
.card-body *{
    text-align: left;
    font-size: 16pt;
    font-family: 'Arial', sans-serif;
}

.card-body h4{
    font-size: 20pt;
}

.button-action{
    display: flex;
    justify-content: flex-end;
    padding: 1rem 2rem;
    margin-top: auto;
}

