
.card-item{
    border: 2px solid;
    border-radius: 30pt;
    margin: 20px;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.card-img{
    margin: 10px 20px;
    max-width: 240px;
    overflow: hidden;

}

.card-body *{
    text-align: left;
    font-size: 16pt;
    font-family: 'Arial', sans-serif;
}

.card-body h4{
    font-size: 20pt;
}

.button-action{
    display: flex;
    justify-content: flex-end;
    padding-right: 25px
}

